{% extends 'html/base.html' %}
{% block title %} Aboutus {% endblock %}
{% block content %}
<div class=".div1">
  <div class="jumbotron ml-auto">
  	<style>
.div1{
  border: 10px;
  border-color: blue;
  background-color: lightblue;
  text-align: center;
  font-size: 19px;
}
 </style>
    <center><h2 style="color: blue"><b>About Us</b></h2></center>
  </div>
</div>
<div class=".s2">
  	<div class="jumbotron ml-auto">
<style>
  .s2{
  border: 6px;
  background-color: lightblue;
  text-align: top;
    }
</style>
 <p style="font-family: arial">This is a platform where u can learn C.This page helps u to gain more knowledge over C Programming Langauage</p>
    <h3 style="color: red">Topics to be Covered</h3>
    <ul>
    	<li>Structure of C, compilation, execution</li>
    	<li>character set, identifiers, keywords </li>
    	<li>constants, variables</li>
    	<li>expression, operators </li>
    	<li>operators continue…</li>
    	<li>loops: do while, while</li>
    	<li> for loop, break, continue statement</li>
    	<li>control Statements</li>
    	<li>nesting of if else…, if else ladder</li>
    	<li>arrays</li>
    </ul>
   </div>
</div>
{% endblock %}