{% extends 'html/base.html' %}
{% load static %}
{% block title %} Structer Of C Programing {% endblock %}
{% block content %}
<div class="container text-center">
	<h1>Chapter-2</h1>
  <img src="{% static 'images/0017.jpg' %}" width="50%" height="50%">
  <img src="{% static 'images/0018.jpg' %}" width="50%" height="50%">
  <img src="{% static 'images/0019.jpg' %}" width="50%" height="50%">
  <img src="{% static 'images/0020.jpg' %}" width="50%" height="50%">
  <br>
    <a href="{% url 'strt' %}" class="btn md btn-info">Start Learning</a>
</div> 
{% endblock %}
