{% extends 'html/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="myDiv">
  <div class="jumbotron ml-auto">
  	<style>
.myDiv {
  border: 5px outset blue;
  background-color: lightblue;
  text-align: center;
  font-size: 18px;
}
</style>
<h2 style="color: blue">Introduction To C</h2>
  </div>
</div>
<div class=".mykit">
  <div class="jumbotron ml-auto">
 <style type="text/css">
  	.mykit {
  border: 5px outset blue;
  background-color: lightblue;
  text-align: center;
  font-size: 18px;
}
</style>
    <p><h5 style="font-family: arial">C is a programming language developed at AT & T’s Bell Laboratories of USA
in 1972. It was designed and written by a man named Dennis Ritchie. In the late
seventies C began to replace the more familiar languages of that time like PL/I,
ALGOL, etc</h5></p>
 <p><h5 style="font-family: arial">ANSI C standard emerged in the early 1980s, this book was split into two
titles: The original was still called Programming in C, and the title that covered
ANSI C was called Programming in ANSI C. This was done because it took
several years for the compiler vendors to release their ANSI C compilers and for
them to become ubiquitous. It was initially designed for programming UNIX
operating system. Now the software tool as well as the C compiler is written in C.
Major parts of popular operating systems like Windows, UNIX, Linux is still
written in C. This is because even today when it comes to performance (speed of
execution) nothing beats C. Moreover, if one is to extend the operating system to
work with new devices one needs to write device driver programs. These
programs are exclusively written in C. C seems so popular is because it is reliable,
simple and easy to use. often heard today is – “C has been already superceded
by languages like C++, C# and Java</h5></p>
  </div>
</div>
<footer>
  ©2020
  <a href="mailto:sonuchowdary2503@gmail.com">C Programming</a>
</footer
{% endblock %}