{% extends 'html/base.html' %}
{% load static %}
{% block title %} Loops & Conditional Statements {% endblock %}
{% block content %}
<div class="container text-center">
	<h1>Chapter-6</h1>
  <img src="{% static 'images/0032.jpg' %}" width="50%" height="50%">
  <img src="{% static 'images/0033.jpg' %}" width="50%" height="50%">
  <img src="{% static 'images/0034.jpg' %}" width="50%" height="50%">
  <img src="{% static 'images/0035.jpg' %}" width="50%" height="50%">
  <img src="{% static 'images/0036.jpg' %}" width="50%" height="50%">
  <img src="{% static 'images/0037.jpg' %}" width="50%" height="50%">
  <img src="{% static 'images/0038.jpg' %}" width="50%" height="50%">
  <img src="{% static 'images/0039.jpg' %}" width="50%" height="50%">
  <img src="{% static 'images/0040.jpg' %}" width="50%" height="50%">
  <img src="{% static 'images/0041.jpg' %}" width="50%" height="50%">
  <img src="{% static 'images/0042.jpg' %}" width="50%" height="50%">
  <img src="{% static 'images/0043.jpg' %}" width="50%" height="50%">
  <img src="{% static 'images/0044.jpg' %}" width="50%" height="50%">
  <img src="{% static 'images/0045.jpg' %}" width="50%" height="50%">
 <br>
    <a href="{% url 'strt' %}" class="btn md btn-info">Start Learning</a>
</div> 
{% endblock %}
